  h1{
    text-align: center;
    font-family: "Kokoro"; 
  }
  h2{
    margin: 0;
  }
  h5{
    font-size: 1rem;
    font-family: "Kokoro"; 
    margin-top: 0;
  }
  footer{
    color: blue;
  }
  .wrapper{
    text-align: center;
  }
  .title{
    display: inline-block;
  }
  .container{
    text-align: center;
  }
  .start{
    width: 50%;
  }
  .words{
    font-size: 300%;
  }
  .correctnessNum{
    font-size: 200%;
    color: #42b983;
  }
  #resultbox1{
    display: none;
  }
  #resultbox2{
    display: none;
  }
  #resultbox3{
    display: none;
  }
  #resultbox4{
    display: none;
  }
  #resultbox5{
    display: none;
  }
  #resultbox6{
    display: none;
  }
  #resultbox7{
    display: none;
  }
  #resultbox8{
    display: none;
  }
  #resultbox9{
    display: none;
  }
  #resultbox10{
    display: none;
  }

  .marubatu{
    display: inline;
  }
