  h1{
    text-align: center;
    font-family: "Kokoro"; 
  }
  h2{
    margin: 0;
  }
  h5{
    font-size: 1rem;
    font-family: "Kokoro"; 
    margin-top: 0;
  }
  footer{
    color: blue;
  }
  .wrapper{
    text-align: center;
  }
  .title{
    display: inline-block;
  }
  .row{
    display: flex;
  }
  .col{
    display: flex;
  }
  .container{
    text-align: center;
  }
  .iconbox{
    display: flex;
  }
  .idolicon{
  }
  .start{
    width: 50%;
  }
  .words{
    font-size: 300%;
  }
  .resultbox{
    display: none;
  }
  .marubatu{
    display: inline;
  }